<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Tricks website
      {% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
        rel="stylesheet" />

      <!-- Icons -->
      <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
        rel="stylesheet" />

      <!-- Theme CSS -->
      <link type="text/css"
        href="{{ asset('assets/css/argon-design-system.min.css') }}"
        rel="stylesheet" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    {% endblock %}
  </head>
  <body>
    <!-- Navbar primary -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default">
      <div class="container">
        <a href="/">
          <img src="{{ asset('assets/images/logo_light.png') }}"
            alt=""
            width="100" />
        </a>
        <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-primary"
          aria-controls="navbar-primary"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-primary">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="./index.html">
                  {# <img src="./assets/img/brand/blue.png" /> #}
                  icon
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button"
                  class="navbar-toggler"
                  data-toggle="collapse"
                  data-target="#navbar-primary"
                  aria-controls="navbar-primary"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/#cards">Tricks</a>
            </li>
            {% if app.user %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('account') }}">Mon compte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">
                  Déconnexion
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">
                  Se connecter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('register') }}">S'inscrire</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block header %}

    {% endblock %}
    <div class="container">
      {% block body %}

      {% endblock %}
    </div>
    <footer class="footer has-cards">
      <div class="container">
        <hr />
        <div class="row align-items-center justify-content-md-between">
          <div class="col-md-6">
            <div class="copyright">
              &copy; 2021 <a href="" target="_blank">Snow Tricks</a>.
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav nav-footer justify-content-end">
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">Accueil</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">Figures</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    {% block javascripts %}
      <!-- Core -->
      <script src="/assets/js/core/jquery.min.js"></script>
      <script src="/assets/js/core/popper.min.js"></script>
      <script src="/assets/js/core/bootstrap.min.js"></script>

      <!-- Theme JS -->
      <script src="/assets/js/argon-design-system.min.js"></script>
      <!-- Theme JS -->
      <script src="{{ asset('assets/js/script.js') }}"></script>
    {% endblock %}
  </body>
</html>
