{% extends 'base.html.twig' %}

{% block title %}
  Tricks
{% endblock %}
{% block header %}
  <div class="headerTrick"
    style="background-image: url('{{
    asset(
      '/uploads/' ~ trick.images[0].name
    )
    }}')">
    {% if app.user %}
      <div class="d-inline-flex"
        style="position:relative; top:-17vh; border:1px dashed #5e72e4; ">
        <div class="mr-3">
          <form method="post"
            action="{{
            path(
              'tricks_delete',
              {
                id: trick.id
              }
            )
            }}"
            onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden"
              name="_token"
              value="{{ csrf_token('delete' ~ trick.id) }}" />
            <button class="delete_button btn btn-lg btn-primary btn-icon-only rounded-circle"
              type="submit">
              <svg id="Layer_1"
                class="card__like"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 512 512">
                <defs>
                  <linearGradient id="linear-gradient"
                    x1="256"
                    x2="256"
                    y2="512"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#e9ebf5" />
                    <stop offset="0.76" stop-color="#b0c7e1" />
                    <stop offset="1" stop-color="#7697c6" />
                  </linearGradient>
                  <linearGradient id="linear-gradient-2"
                    x1="256"
                    y1="399.41"
                    x2="256"
                    y2="112.59"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#000013" />
                    <stop offset="1" stop-color="#005c92" />
                  </linearGradient>
                </defs>
                <path d="M256,512c141,0,256-115,256-256S397,0,256,0,0,115,0,256,115,512,256,512Z"
                  fill-rule="evenodd"
                  fill="url(#linear-gradient)" />
                <path d="M352.39,119.31l29.85,29.86a23.09,23.09,0,0,1,0,32.57L308,256l74.27,74.27a23.1,23.1,0,0,1,0,32.57l-29.86,29.85a23.1,23.1,0,0,1-32.57,0l-74.26-74.26-74.27,74.26a23.1,23.1,0,0,1-32.57,0l-29.85-29.85a23.1,23.1,0,0,1,0-32.57L183.14,256l-74.27-74.26a23.09,23.09,0,0,1,0-32.57l29.85-29.86a23.1,23.1,0,0,1,32.57,0l74.27,74.26,74.26-74.26A23.1,23.1,0,0,1,352.39,119.31Z"
                  fill="#fff"
                  fill-rule="evenodd" />
                <path d="M362.84,119.31l29.85,29.86a23.08,23.08,0,0,1,0,32.57L318.43,256l74.26,74.27a23.08,23.08,0,0,1,0,32.57l-29.85,29.85a23.11,23.11,0,0,1-32.58,0L256,318.43l-74.27,74.26a23.09,23.09,0,0,1-32.56,0l-29.86-29.85a23.1,23.1,0,0,1,0-32.57L193.57,256l-74.26-74.26a23.09,23.09,0,0,1,0-32.57l29.86-29.86a23.09,23.09,0,0,1,32.56,0L256,193.58l74.26-74.26A23.11,23.11,0,0,1,362.84,119.31Z"
                  fill-rule="evenodd"
                  fill="url(#linear-gradient-2)" />
              </svg>
            </button>
          </form>
        </div>
        <div class="mr-5">
          <a href="{{
            path(
              'tricks_edit',
              {
                id: trick.id
              }
            )
            }}">
            <svg id="Layer_1"
              class="card__clock"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512">
              <defs>
                <linearGradient id="linear-gradient"
                  x1="256"
                  x2="256"
                  y2="512"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#e9ebf5" />
                  <stop offset="0.76" stop-color="#b0c7e1" />
                  <stop offset="1" stop-color="#7697c6" />
                </linearGradient>
                <linearGradient id="linear-gradient-2"
                  x1="256"
                  y1="420.59"
                  x2="256"
                  y2="91.41"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#000013" />
                  <stop offset="1" stop-color="#005c92" />
                </linearGradient>
              </defs>
              <title>
                edit
              </title>
              <path d="M256,512c141,0,256-115,256-256S397,0,256,0,0,115,0,256,115,512,256,512Z"
                fill-rule="evenodd"
                fill="url(#linear-gradient)" />
              <path d="M141.25,329,268.83,167.23,141.25,329ZM184,362.54,311.55,200.79,184,362.54ZM238.67,150l24.62,19.83L141.2,324.59c-2.4-13.28-6.11-24.11-11.9-36.74l-1.1-.88.44-.54v0h0L238.67,150l34.64-43c13.47-16.71,36.64-20.6,51.48-8.64l48.43,39c14.84,12,16,35.42,2.49,52.13l-34.33,42.58L230.6,369.48l-.76-.62-.11.4c-13.69-8-25.89-9.87-41.11-8.14L309.9,207.35l-4.31-3.46L185,356.85c-4.57-21.66-12.76-31.26-40.08-28L267.59,173.26l4.16,3.36,33.84,27.27,4.31,3.46h0l31.16,25.11.31-.38,14.75-18.3L253.73,131.27,238.67,150Zm9-10.73,102,82.25-1,1.27-1,1.27-102-82.25,1-1.27h0l1-1.27ZM116.51,344.79,105,397.69c-5.46,25,.5,27.36,22.71,17.42l49-21.89C146,381.16,132.11,370.61,116.51,344.79Z"
                fill="#fff"
                fill-rule="evenodd" />
              <path d="M153.15,329,280.73,167.23,153.15,329Zm42.73,33.57L323.46,200.79,195.88,362.54ZM250.57,150l24.62,19.83L153.09,324.59c-2.39-13.28-6.11-24.11-11.89-36.74l-1.1-.88.44-.54,0,0h0L250.57,150l34.63-43c13.48-16.71,36.64-20.6,51.48-8.64l48.43,39c14.84,12,16,35.42,2.48,52.13l-34.32,42.58L242.51,369.48l-.77-.62-.11.4c-13.7-8-25.9-9.87-41.11-8.14L321.81,207.35l-4.31-3.46-120.65,153c-4.57-21.66-12.76-31.26-40.08-28L279.49,173.26l4.17,3.36,33.84,27.27,4.31,3.46h0L353,232.46l.31-.38L368,213.78l-102.4-82.51L250.57,150Zm9-10.73,102,82.25-1,1.27-1,1.27-102-82.25,1-1.27h0l1-1.27ZM128.42,344.79l-11.54,52.9c-5.46,25,.51,27.36,22.72,17.42l48.94-21.89C157.89,381.16,144,370.61,128.42,344.79Z"
                fill-rule="evenodd"
                fill="url(#linear-gradient-2)" />
            </svg><span class="card__time">Modifier</span>
          </a>
        </div>
      </div>
    {% endif %}
    <h1 class="header-h1">
      {{ trick.name }}
    </h1>
  </div>
{% endblock %}

{% block body %}
  <div class="section" style="text-align: center;">
    <button id="toggleButton"
      type="button"
      class="btn btn-info mb-5"
      onclick="toggleMedias()">
      Voir les medias
    </button>
    <div id="medias" class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 mb-lg-auto mb-5">
          <div class="rounded overflow-hidden transform-perspective-left">
            <div id="carousel_example"
              class="carousel slide"
              data-ride="carousel">
              <ol class="carousel-indicators">
                {% for key in trick.images|keys %}
                  <li data-target="#carousel_example" data-slide-to="{{ key }}">

                  </li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="img-fluid"
                    src="{{ asset('/uploads/' ~ trick.images[0].name) }}"
                    alt="First slide" />
                </div>
                {% for image in trick.images|slice(1, 6) %}
                  <div class="carousel-item">
                    <img class="img-fluid"
                      src="{{ asset('/uploads/' ~ image.name) }}"
                      alt="First slide" />
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev"
                href="#carousel_example"
                role="button"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">

                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next"
                href="#carousel_example"
                role="button"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">

                </span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="rounded overflow-hidden transform-perspective-left">
            <div id="carousel_example2"
              class="carousel slide"
              data-ride="carousel">
              <ol class="carousel-indicators">
                {% for key in videos %}
                  <li data-target="#carousel_example2"
                    data-slide-to="{{ loop.index }}">

                  </li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  {{ videos[0]|raw }}
                </div>
                {% for video in videos|slice(1, 4) %}
                  <div class="carousel-item">
                    {{ video|raw }}
                  </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev"
                href="#carousel_example2"
                role="button"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">

                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next"
                href="#carousel_example2"
                role="button"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">

                </span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3 align-items-center">
    <div class="col-sm-3">
      <small class="text-uppercase text-default font-weight-bold">
        Description
      </small>
    </div>
    <div class="col-sm-9">
      <p class="lead">
        {{ trick.description }}
      </p>
      <span class="badge badge-pill badge-primary text-uppercase">
        {{ trick.group }}
      </span>
      <span class="badge badge-pill badge-warning text-uppercase">
        Crée le : {{ trick.creationDate ? trick.creationDate|date('Y-m-d H:i:s') : '' }}
      </span>
      {% if trick.modificationDate %}
        <span class="badge badge-pill badge-info text-uppercase">
          Modifier le : {{ trick.modificationDate|date('Y-m-d H:i:s') }}
        </span>
      {% endif %}
    </div>
  </div>
    <div class="actionBtn">
  <a class="btn btn-default mb-3" href="{{ path('home') }}">Retourner à la liste</a>
  {% if app.user %}
      <a class="btn btn-warning float-right mb-3"
        href="{{
        path(
          'tricks_edit',
          {
            id: trick.id
          }
        )
        }}">
        Modifier
      </a>
      <div class="float-right mr-4">
        {{ include('tricks/_delete_form.html.twig') }}
      </div>
    </div>
  {% endif %}
  {% if app.user %}
    <hr />
    <div class="comments">
      <small class="text-uppercase text-default font-weight-bold">
        laissez un commentaire
      </small>
      {{ form(form) }}
    </div>
  {% endif %}
  {% if not app.user %}
    <hr />
    <div class="regiter_to_comment">
      <h3 class="heading-title text-primary text-center mb-4">
        Connectez-vous ou inscrivez-vous pour laisser un commentaire
      </h3>
      <div class="action_button text-center">
        <a href="{{ path('app_login') }}"
          class="btn btn-lg btn-primary"
          type="a">
          Connectez-vous
        </a>
        <a href="{{ path('register') }}"
          class="btn btn-lg btn-primary"
          type="button">
          S'inscrire
        </a>
      </div>
    </div>
  {% endif %}
  <hr />
  <div class="comments">
    {# begin comments loop #}
    {% for comment in comments %}
      <div class="row py-3 align-items-center comment-container">
        <div class="col-sm-3 comment-profile">
          <img src="{{
            comment.user.photo
              ? comment.user.photo
              : asset('assets/images/profil.png')
            }}"
            alt="Raised circle image"
            class="img-fluid rounded-circle shadow-lg"
            style="width: 150px;height:130px" />
          <small class="text-uppercase font-weight-bold">
            {{ comment.user.firstname
              ? comment.user.firstname ~ ' ' ~ comment.user.lastname
              : comment.user.username }}
          </small>
        </div>
        <div class="col-sm-9">
          <p class="mb-0">
            {{ comment.content }}
          </p>
          <span class="badge badge-pill badge-info text-uppercase">
            Crée le : {{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
  {# end comments loops #}
  {% if commentsNb > 3 %}
    <div class="text-center mt-3">
      <a class="btn btn-default"
        href=""
        data-loadmore
        data-loadtimes="1"
        data-trickid="{{ trick.id }}"
        data-commentsnb="{{ commentsNb }}">
        afficher plus
      </a>
    </div>
  {% endif %}
{% endblock %}
{% block javascript %}
  <!-- Core -->
  <script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
  <script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
  <!-- Theme JS -->
  <script src="{{ asset('assets/js/argon-design-system.js.map') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{{ asset('assets/js/argon-design-system.min.js') }}"></script>
  <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
